* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1d202b;
	color: #fff;
	font-family: "Roboto", sans-serif;
}

.contenedor {
	display: grid;
	grid-template-columns: 1fr auto;
	max-width: 1200px;
	width: 90%;
	padding: 40px;
	margin: 0 auto;
	gap: 20px;
}

.titulo {
	font-size: 24px;
}

.contenedor-conciertos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.card {
	background-size: cover;
	border-radius: 10px;
	min-height: 200px;
	overflow: hidden;
}

.card .textos {
	height: 100%;
	display: grid;
	padding: 20px;
}

.bg1 {
	background-image: url("../img/1.jpg");
}

.bg2 {
	background-image: url("../img/2.jpg");
}

.bg3 {
	background-image: url("../img/3.jpg");
}

.bg4 {
	background-image: url("../img/4.jpg");
}

.bg5 {
	background-image: url("../img/5.jpg");
}

.bg6 {
	background-image: url("../img/6.jpg");
}

.banner {
	background: url("../img/banner.jpg") center center 
	transparent;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	min-width: 300px;
	padding: 20px;
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #ffd600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}